html, body {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

h1,
h2,
h3 {
  font-weight: 100;
}

.btn {
  font-size: 16px;
  letter-spacing: 1px;
  border: 0;
  background-color: #16214D;
  color: white;
  min-width: 80px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 200px;
}

.btn:hover {
  background-color: #44C7F4;
}

.btn:focus {
  outline: none !important;
}

.btn:disabled {
  background-color: #333;
  color: #666;
}

.api-actions, .user-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.api-actions button:last-of-type, .user-actions button:last-of-type {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .api-actions, .user-actions {
    flex-direction: column;
  }
  .api-actions button:last-of-type, .user-actions button:last-of-type {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.user-event {
  padding-bottom: 2rem;
}

.email {
  text-decoration: underline;
}

.hide {
  display: none;
}

.info {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0rem 2rem 2rem 2rem;
}

#calendar {
  padding: 1rem;
}

/* Begin Spinner styles */
.spinner {
  margin-top: 0;
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* End Spinner Styles */